main aside {
  position: fixed;
  inset-block: 0;
  inset-inline-end: 0;
}

main aside .social-media {
  height: 100%;
  display: flex;
}

main aside .social-media ul {
  padding: 1.5rem 1rem;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  margin: auto;

  background-color: #00df9a;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  gap: 1.5rem;
  width: 30px;
}

main aside .social-media li {
  list-style-type: none;
}

main aside .social-media li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
  transition: all 0.1s ease-in-out;
}

main aside .social-media li a:hover {
  color: whitesmoke;
}
